/* --------- Global style */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

:root{
    --winner-blocks: #505152 ;
    --drawIndicator: #cf2701 ;
 }
body {

    color: #c9c9c9;
    font-family: 'Finger Paint', cursive;
    text-align: center;
    background-color: #363b3e;
}

h1{
    font-size: 40px;
    text-transform: uppercase;
}
/* --------- Game Area */
.container{
    padding: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #363b3e;
}

 #gameboard{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

 }
/* --------- Squares */
 .box{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#c9c9c9;
    font-size: 100px;
    border-right: 2px solid;
    border-bottom: 2px solid;
 }

 .box:nth-child(3n){
    border-right: none;
 }

 .box:nth-child(6) ~ .box{
    border-bottom: none;
 }
/* ---------Buttons */
 button{
    padding: 5px 10px;
    border-radius: 10px;
    background-color:#c9c9c9;
    color: rgb(0, 0, 0);
    font-size: 15px;
    transition: 300ms transform;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

 }

 button:hover{
    cursor: pointer;
    transform: translateY(3px);
 }

 /* --------- Media queries */
 @media (max-width: 450px){
   .container{
      padding: 50px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #363b3e;
  }
  
   #gameboard{
      width: 300px;
      display: flex;
      flex-wrap: wrap;
      margin-top: 15px;
  
   }
  /* --------- Squares */
   .box{
      height: 100px;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      color:#c9c9c9;
      font-size: 50px;
      border-right: 2px solid;
      border-bottom: 2px solid;
   }
   h1{
      font-size: 30px;
      text-transform: uppercase;
  }
 }