/* --------- Global style */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

:root{
    --winner-blocks: #2d414b ;
 }
body {

    color: #F2c14e;
    font-family: 'Finger Paint', cursive;
    text-align: center;
}

h1{
    font-size: 50px;
    text-transform: uppercase;
}

.container{
    padding: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #37505C;
}

 #gameboard{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

 }

 .box{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#F2c14e;
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
 }

 .box:nth-child(3n){
    border-right: none;
 }

 .box:nth-child(6) ~ .box{
    border-bottom: none;
 }

 button{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #F2c14e;
    color: rgb(0, 0, 0);
    border-color: #F2c14e;
    font-size: 15px;
    transition: 300ms transform;
    font-weight: 500;

 }

 button:hover{
    cursor: pointer;
    transform: translateY(3px);
 }

 